@font-face{
    font-family: mafiaFont;
    src:url(MAFIA.TTF)
}
.MAFIA{
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-family: mafiaFont;
    font-size: 10vh;
}
body{
    background-image: url(./Fallout\ Gangster\ Wallpaper\ by\ HodnasX.png...);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
input{
    background-color: white;
}
.player{
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 15vh;
}
.roles{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 1vh;
}
 button{
    width: 4vh;
    height: 4vh;
 }
 .music{
    position: absolute;
    right: 1vh;
    top: 1vh;
 }
 button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
 }
 .dead{
    margin-left: 5vh;
 }
 .reload{
    position: absolute;
    left: 5vh;
    top: 5vh;
    width: 10vh;
 }
.foul{
    position: relative;
}
.bottom-left {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
}

.bottom-left input {
    width: 200px;
    height: 40px;
    font-size: large;
}  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.stopwatch{
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px 24px;
    border-radius: 10px;
}

.timerDisplay{
    font-size: 50px;
    font-weight: 600;
}

.buttons{
    margin-top: 20px;
}

.btn{
    font-size: 20px;
    background: none;
    border: none;
    color: #fff;
    background-color: var(--clr);
    padding: 12px 24px;
    margin-inline: 12px;
    border-radius: 8px;
    cursor: pointer;
}
.timerDisplay{
    position:sticky;
    display: flex;
    bottom: 10%;
    gap: 1rem;
}
.timerButtons{
    height: 50px;
    width: 50px;
    border: none;
    border: none;
    border-radius: 15%;
}
